/* ------------------------------------------------- */

.container {
	margin-top: 65px;
	max-width: 100vw;
	background-color: #FF7A00;
	height: calc(auto + 65px);
}

.group_info {
	display: flex;
	max-width: 1440px;
	color: #fff;
	margin: auto;
}

.group_left, .group_right {
	width: 50%;
	padding: 1rem;
	font-size: 2rem;
	line-height: 2.4rem;
}

.group_left {
	text-align: right;
}

/* -------------------------------------- */
.tab {
	max-width: 1440px;
	margin: auto;
}

.tab-title {
	display: flex;
	list-style-type: none;
	max-width: 60vw;
	margin: auto;
	padding: 1rem 0;
}

.tab-title li {
	margin: auto;
	text-align: center;
	font-size: 24px;
	transition: all .5s;
	border-bottom: #f3efe8 4px solid;
}

.tab-title li a {
	padding: 8px 16px;
	color: #FF7A00;
}

.contain_title {
	padding: 0.9rem;
	color: #5E5955;
	background: #FFFFFF;
	border: 1px solid #E9EBF3;
	/* box-shadow: -4px -2px 16px #FFFFFF, 4px 2px 16px #D5D7DD; */
	border-radius: 15px;
	font-size: 20px;
}

.tab-title li:hover {
	background: #FFFFFF;
	border-radius: 15px;
}

.tab-title li.active {
	background: #FFFFFF;
	border-radius: 15px;
	box-shadow: -4px -2px 16px #FFFFFF, 4px 2px 16px #D5D7DD;
	border-bottom: #FF7A00 4px solid;
}

.tab-inner {
	margin: auto;
	width: 80%;
	border-radius: 15px;
}

.btn_center {
	margin-top: 1.5rem;
	text-align: center;
}

.newpay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	color: #000;
	padding: 24px 32px;
	width: 414px;
}

/* 新增支出 */
.payman, .payman_left {
	display: flex;
	line-height: 36px;
	align-items: center;
}

.mg_top {
	margin-top: 16px;
}

.newpay .input_class {
	padding: 10px 12px 10px 12px;
	border: 1px solid #E9EBF3;
	outline: none;
	border-radius: 30px;
	font-size: 16px;
	color: #5E5955;
	transition: ease-out .3s;
	width: 100%;
}

.newpay .input_class:focus {
	background: #E9EBF3;
	box-shadow: inset -3px -3px 7px #FFFFFF, inset 3px 3px 7px #D5D7DD;
}

.paytitle {
	font-size: 32px;
	display: flex;
	justify-content: space-between;
}

.bi-x-lg {
	cursor: pointer;
}

.newpay .lg_h3 {
	font-size: 24px;
	text-align: center;
}

.newpay .lg_h3_sure {
	margin-top: 8px;
	text-align: center;
}

.newpay h3 {
	font-size: 20px;
}


.h3_mg {
	margin-left: 16px;
}

.paymoney {
	font-size: 32px;
	text-align: right;
}

.payman span {
	margin-left: 8px;
}

.payman_check {
	justify-content: space-between;
}

.seemore_center {
	text-align: center;
}

/*  */
.payman_right input[type='checkbox'] {
	width: 20px;
	height: 20px;
	border: 1px solid #999;
	border-radius: 3px;
	-webkit-appearance: none;
	/* 取消預設外觀 */
	background-color: #fff;
	position: relative;
}

.payman_right input[type='checkbox']:checked {
	border: 1px solid #FF7A00;
	background-color: #FF7A00;
}

.payman_right input[type='checkbox']:checked:after {
	content: " ✓";
	font-size: 20px;
	font-weight: 900;
	color: #fff;
	line-height: 16px;
	position: absolute;
}

#new_pay_container,
#group_member_plus,
#update_group,
#clear_pay_88 {
	display: none;
}

#new_pay_container.active,
#clear_pay_88.active,
#group_member_plus.active,
#update_group.active {
	display: block;
}

.clearpay {
	background: #FFFFFF;
	/* effect/初始狀態 */
	box-shadow: -4px -2px 16px #FFFFFF, 4px 2px 16px #D5D7DD;
	border-radius: 30px;
}

#clear_cancel{
	color: #000;
	border: #D5D7DD 1px solid ;
}
#clear_cancel:hover,
#clear_cancel:focus{
	background: #FFFFFF;
	box-shadow: -4px -2px 16px #FFFFFF, 4px 2px 16px #D5D7DD;
	color: #FF7A00;
	border:#FF7A00 1px solid ;;
}

